
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/bootstrap/css/font-awesome.css">

<!-- css -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<style type="text/css">
  #line-chart {
      height:300px;
      width:800px;
      margin: 0px auto;
      margin-top: 1em;
  }
  .brand { font-family: georgia, serif; }
  .brand .first {
      color: #ccc;
      font-style: italic;
  }
  .brand .second {
      color: #fff;
      font-weight: bold;
  }
</style>